<style>
    * {
    font-family : Arial;
    }
     img {
     max-width: 250px;
     max-height: 250px;
     }
    .product {
    display: flex;
    border: 2px  orange solid;
    margin-top: 15px;
    }

    .heading {
    display: flex;
    }
   </style>
    <div>
        <div style="heading">
       <h1 style='font-family: Arial' > [____E-site____] </h1>

                            <a href='/'>[_Главная_]</a>
                            <a href='/products'> [_Товары_] </a>
                            <a href='/discounts'> [_Акции_] </a>
            </div>
<div/>

</div>
    <div class="product" >
        <img src='https://upload.wikimedia.org/wikipedia/commons/a/ae/FIipper_Zero.png'>
        <div>
        <h2>[_Flipper_Zero_]</h2>
        <p>Flipper Zero — портативное многофункциональное Тамагочи-подобное устройство, разработанное для взаимодействия с системами контроля доступа и другими системами, использующими для связи радиоканал.</p>
            </div>
    </div>
 <div class="product">
        <img src='https://rbklimat.ru/sites/default/files/styles/page_image/public/tovar/kondicioner-electrolux-monaco-eacsi-09hmn315y-image21514.png?itok=dzpFscsy'>
     <div>
        <h2>[_Кондиционер Electrolux Monaco_]</h2>
        <p>Кондиционе́р — устройство для поддержания оптимальных климатических условий в помещениях строительных сооружений, транспортных средств и другой техники.
В простейшей форме кондиционер предназначен для регулирования и поддержания заданной температуры воздуха в помещении. Наиболее широко кондиционеры используются для снижения температуры воздуха внутри помещений в жаркое время года и круглог
            одично в помещениях, где образуется избыточное тепло (информационно-вычислительные центры, вагоны метро, салоны самолётов, аудитории, зрительные залы и т. д.) или требуется поддержание определённой температуры (продуктовые склады, операционные). .</p>
         </div>
    </div>
 <div class="product">
        <img src='https://avatars.mds.yandex.net/get-images-cbir/4420634/fQYCCoz7TQVawp8Lq1jzrQ6842/preview'>
     <div>
        <h2>[_Кошачий корм felix _]</h2>
        <p> Имеются противопоказания, но если есть нечего то норм</p>
         </div>
    </div>