{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>

<div>
<div class="heading">
    <div class="logo">
<h1> [___E-Site___] </h1>
    </div>
<div class= navigation>
            <a href='/'>Главная</a>
            <a href='/products'>  Товары</a>
            <a href='/discounts'> Акции </a>
</div>
</div>
</div>
<div class="Productlist">
<div class="product" >
<img src='https://upload.wikimedia.org/wikipedia/commons/a/ae/FIipper_Zero.png'>
<div>
<h2>[_Flipper_Zero_]</h2>
<div style=" font-size: 16px;">
<p>Flipper Zero — портативное многофункциональное Тамагочи-подобное устройство</p>
           <div  class="price" style="margin-left: 850px; font-size: 20px; margin-bottom: 20px; text-align: center;" >
               <h3> 32990 ру</h3>
               </div>

        </div>
<button>Купить :)</button>
</div>
</div>
<div class="product">
<img src='https://rbklimat.ru/sites/default/files/styles/page_image/public/tovar/kondicioner-electrolux-monaco-eacsi-09hmn315y-image21514.png?itok=dzpFscsy'>
<div>
<h2>[_Кондиционер Electrolux Monaco_]</h2>
<p>кондей</p>
<div class="button">
     <div  class="price" style="margin-left: 850px; font-size: 20px; margin-bottom: 20px; text-align: center">
               <h3> 45990 руб </h3>
               </div>
<button>Купить :)</button>
</div>
</div>
</div>
<div class="product">
<img src='https://avatars.mds.yandex.net/get-images-cbir/4420634/fQYCCoz7TQVawp8Lq1jzrQ6842/preview'>
<div>
<h2>[_Кошачий корм felix _]</h2>
<p> Имеются противопоказания, но если есть нечего то норм</p>
<div class="button">
               <div  class="price" style="margin-left: 850px; font-size: 20px; margin-bottom: 20px; text-align: center">
               <h3> 200 руб</h3>
               </div>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> Купить :) </a>
</div>
</div>
</div>
<div class="product">
<img src='https://avatars.mds.yandex.net/get-images-cbir/1629772/CICirAK67UZIJzmavHxa_A2481/preview'>
<div>
<h2>[_Нью роки_]</h2>
<p> Никогда бы я не предал братишку на мне нью роки</p>
<div class="button">
               <div  class="price" style="margin-left: 850px; font-size: 20px; margin-bottom: 20px; text-align: center">
               <h3> слишком дорого  руб</h3>
               </div>
<button>Купить :)</button>
</div>
</div>
</div>
</div>
